<a href='https://github.com/hyprutils/hyprgui'><img src='https://raw.githubusercontent.com/hyprutils/hyprgui/refs/heads/main/hyprgui.png' width='120' height='120' alt='HyprGUI'></a>
<a href='https://github.com/hyprutils/hyprwall'><img src='https://raw.githubusercontent.com/hyprutils/hyprwall/refs/heads/main/hyprwall.png' width='120' height='120' alt='Hyprwall'></a>
<a href='https://github.com/hyprutils/hyprlauncher'><img src='https://raw.githubusercontent.com/hyprutils/hyprlauncher/refs/heads/main/hyprlauncher.png' width='120' height='120' alt='Hyprlauncher'></a>
